<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="All Test Suite">
    <listeners>
    <listener class-name="alexlearning.TestComponents.Listeners"/>
        
    </listeners>

    <test thread-count="5" name="Submit Order Text">
        <classes>
            <class name="alexlearning.Tests.SubmitOrderTest"/>
        </classes>
    </test>

    <test thread-count="5" name="Error Validations test">
        <classes>
            <class name="alexlearning.Tests.ErrorValidations"/>
        </classes>
    </test>
</suite>